<section class="carrouselmulti">
  <section class="clearfix">
    <section class="button-multipleleft float-left">
        <a class="btn btn-outline-secondary prev float-left" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
    </section>
    <section class="carousel slide float-left content-multiplecarousel" data-ride="carousel" id="mostVotedCarousel" data-interval="0">

        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-2 card_morevoted">
                    <div class="link_block card">
                        <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack.jpeg" alt=maincat_>
                        <div class="card-body">
                        <!-- Item Name -->
                          <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                          <!-- Ratting Stars -->
                          <div class="container">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="star-rating">
                                    <span class="fa fa-star-o" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                    <input type="hidden" readonly name="whatever1" class="rating-value" value="4.56">
                                  </div>
                                </div>
                              </div>
                          </div>

                        </div>
                    </div>
                  </div>
                  <div class="col-md-2 card_morevoted">
                      <div class="link_block card">
                          <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack2.jpeg" alt=maincat_>
                          <div class="card-body">
                          <!-- Item Name -->
                            <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                            <!-- Ratting Stars -->
                            <div class="container">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="star-rating">
                                      <span class="fa fa-star-o" data-rating="1"></span>
                                      <span class="fa fa-star-o" data-rating="2"></span>
                                      <span class="fa fa-star-o" data-rating="3"></span>
                                      <span class="fa fa-star-o" data-rating="4"></span>
                                      <span class="fa fa-star-o" data-rating="5"></span>
                                      <input type="hidden" readonly name="whatever1" class="rating-value" value="4.56">
                                    </div>
                                  </div>
                                </div>
                            </div>
    
                          </div>
                      </div>
                    </div>
                    <div class="col-md-2 card_morevoted">
                        <div class="link_block card">
                            <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack.jpeg" alt=maincat_>
                            <div class="card-body">
                            <!-- Item Name -->
                              <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                              <!-- Ratting Stars -->
                              <div class="container">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" readonly name="whatever1" class="rating-value" value="3.56">
                                      </div>
                                    </div>
                                  </div>
                              </div>
      
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 card_morevoted">
                          <div class="link_block card">
                              <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack.jpeg" alt=maincat_>
                              <div class="card-body">
                              <!-- Item Name -->
                                <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                                <!-- Ratting Stars -->
                                <div class="container">
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <div class="star-rating">
                                          <span class="fa fa-star-o" data-rating="1"></span>
                                          <span class="fa fa-star-o" data-rating="2"></span>
                                          <span class="fa fa-star-o" data-rating="3"></span>
                                          <span class="fa fa-star-o" data-rating="4"></span>
                                          <span class="fa fa-star-o" data-rating="5"></span>
                                          <input type="hidden" readonly name="whatever1" class="rating-value" value="3.00">
                                        </div>
                                      </div>
                                    </div>
                                </div>
        
                              </div>
                          </div>
                        </div>
                        <div class="col-md-2 card_morevoted">
                            <div class="link_block card">
                                <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack2.jpeg" alt=maincat_>
                                <div class="card-body">
                                <!-- Item Name -->
                                  <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                                  <!-- Ratting Stars -->
                                  <div class="container">
                                      <div class="row">
                                        <div class="col-lg-12">
                                          <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" readonly name="whatever1" class="rating-value" value="2.80">
                                          </div>
                                        </div>
                                      </div>
                                  </div>
          
                                </div>
                            </div>
                          </div>
                          <div class="col-md-2 card_morevoted">
                              <div class="link_block card">
                                  <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack.jpeg" alt=maincat_>
                                  <div class="card-body">
                                  <!-- Item Name -->
                                    <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                                    <!-- Ratting Stars -->
                                    <div class="container">
                                        <div class="row">
                                          <div class="col-lg-12">
                                            <div class="star-rating">
                                              <span class="fa fa-star-o" data-rating="1"></span>
                                              <span class="fa fa-star-o" data-rating="2"></span>
                                              <span class="fa fa-star-o" data-rating="3"></span>
                                              <span class="fa fa-star-o" data-rating="4"></span>
                                              <span class="fa fa-star-o" data-rating="5"></span>
                                              <input type="hidden" readonly name="whatever1" class="rating-value" value="2.56">
                                            </div>
                                          </div>
                                        </div>
                                    </div>
            
                                  </div>
                              </div>
                            </div>

            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-2 card_morevoted">
                  <div class="link_block card">
                      <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack2.jpeg" alt=maincat_>
                      <div class="card-body">
                      <!-- Item Name -->
                        <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                        <!-- Ratting Stars -->
                        <div class="container">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="star-rating">
                                  <span class="fa fa-star-o" data-rating="1"></span>
                                  <span class="fa fa-star-o" data-rating="2"></span>
                                  <span class="fa fa-star-o" data-rating="3"></span>
                                  <span class="fa fa-star-o" data-rating="4"></span>
                                  <span class="fa fa-star-o" data-rating="5"></span>
                                  <input type="hidden" readonly name="whatever1" class="rating-value" value="2.10">
                                </div>
                              </div>
                            </div>
                        </div>

                      </div>
                  </div>
                </div>
                <div class="col-md-2 card_morevoted">
                    <div class="link_block card">
                        <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack2.jpeg" alt=maincat_>
                        <div class="card-body">
                        <!-- Item Name -->
                          <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                          <!-- Ratting Stars -->
                          <div class="container">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="star-rating">
                                    <span class="fa fa-star-o" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                    <input type="hidden" readonly name="whatever1" class="rating-value" value="2.00">
                                  </div>
                                </div>
                              </div>
                          </div>

                        </div>
                    </div>
                  </div>
                  <div class="col-md-2 card_morevoted">
                      <div class="link_block card">
                          <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack.jpeg" alt=maincat_>
                          <div class="card-body">
                          <!-- Item Name -->
                            <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                            <!-- Ratting Stars -->
                            <div class="container">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="star-rating">
                                      <span class="fa fa-star-o" data-rating="1"></span>
                                      <span class="fa fa-star-o" data-rating="2"></span>
                                      <span class="fa fa-star-o" data-rating="3"></span>
                                      <span class="fa fa-star-o" data-rating="4"></span>
                                      <span class="fa fa-star-o" data-rating="5"></span>
                                      <input type="hidden" readonly name="whatever1" class="rating-value" value="2.00">
                                    </div>
                                  </div>
                                </div>
                            </div>
    
                          </div>
                      </div>
                    </div>
                    <div class="col-md-2 card_morevoted">
                        <div class="link_block card">
                            <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack2.jpeg" alt=maincat_>
                            <div class="card-body">
                            <!-- Item Name -->
                              <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                              <!-- Ratting Stars -->
                              <div class="container">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" readonly name="whatever1" class="rating-value" value="2.00">
                                      </div>
                                    </div>
                                  </div>
                              </div>
      
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 card_morevoted">
                          <div class="link_block card">
                              <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack.jpeg" alt=maincat_>
                              <div class="card-body">
                              <!-- Item Name -->
                                <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                                <!-- Ratting Stars -->
                                <div class="container">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="star-rating">
                                          <span class="fa fa-star-o" data-rating="1"></span>
                                          <span class="fa fa-star-o" data-rating="2"></span>
                                          <span class="fa fa-star-o" data-rating="3"></span>
                                          <span class="fa fa-star-o" data-rating="4"></span>
                                          <span class="fa fa-star-o" data-rating="5"></span>
                                          <input type="hidden" readonly name="whatever1" class="rating-value" value="2.00">
                                        </div>
                                      </div>
                                    </div>
                                </div>
        
                              </div>
                          </div>
                        </div>
                        <div class="col-md-2 card_morevoted">
                            <div class="link_block card">
                                <img class="card-img-top img_cardmaincat" src="../../assets/images/products/tobipack2.jpeg" alt=maincat_>
                                <div class="card-body">
                                <!-- Item Name -->
                                  <h6 class="small text-wide p-b-2">Paquete de Calcetin Tobillero</h6>
                                  <!-- Ratting Stars -->
                                  <div class="container">
                                      <div class="row">
                                        <div class="col-lg-12">
                                          <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" readonly name="whatever1" class="rating-value" value="1.80">
                                          </div>
                                        </div>
                                      </div>
                                  </div>
          
                                </div>
                            </div>
                          </div>
            </div>
        </div>
      </section>
      <section class="float-right button-multipleright">
          <a class="btn btn-outline-secondary next float-right" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
      </section>
    </section>
</section>