@import '../../assets/sass/_mixins.scss';

section.button-multipleright,
    section.button-multipleleft{
        width: 5%;
        margin: 8% 0;
        height: auto;


        .next,.prev{
            color: #252A34;
            background: transparent;
            border-color: #252A34;

            &:hover{
                color: white;
                background: #252A34;
                border-color: #252A34;
            }
            
        }
    }

    section.content-multiplecarousel{
        width:90%;
    }



section.carrouselmulti {

    .row-equal{
        
        /* equal card height */
        > div[class*='col-'] {
            display: flex;
            flex: 1 0 auto;
    
        }

        .card {
            max-width: 100%;
            height: auto;
        }
        
        div.card_morevoted{
            padding-left: 5px;
            padding-right: 5px;
        }
        
    }

    /* ensure equal card height inside carousel */
    .carousel-inner>.row-equal.active, 
    .carousel-inner>.row-equal.next, 
    .carousel-inner>.row-equal.prev {
        display: flex;
    }

    /* prevent flicker during transition */
    .carousel-inner>.row-equal.active.left, 
    .carousel-inner>.row-equal.active.right {
      /*   opacity: 0.5; */
        display: flex;
    }

    .star-rating {
        font-size:13px;
     
        .fa-star{
        color: 	#DAA520;
        }
    }

}


@include responsive(large){

    section.carrouselmulti {

        .row-equal{
            
            /* equal card height */
            > div[class*='col-'] {
                display: flex;
                flex: 1 0 auto;
        
            }
    
            .card {
                max-width: 100%;
                height: auto;
            }
            
            div.card_morevoted{
                padding-left: 5px;
                padding-right: 5px;

                .card-body{
                    padding: 5px;

                    div.col-lg-12{
                        padding-right: 0;
                        padding-left: 0;
                    }
                }
            }
            
        }
    
        /* ensure equal card height inside carousel */
        .carousel-inner>.row-equal.active, 
        .carousel-inner>.row-equal.next, 
        .carousel-inner>.row-equal.prev {
            display: flex;
        }
    
        /* prevent flicker during transition */
        .carousel-inner>.row-equal.active.left, 
        .carousel-inner>.row-equal.active.right {
          /*   opacity: 0.5; */
            display: flex;
        }
    
        .star-rating {
            font-size:13px;
         
            .fa-star{
            color: 	#DAA520;
            }
        }
    
    }

}