<section class="home-page">
    <!-- CARROUSEL -->
         <app-collections></app-collections>   
    <!-- END CARROUSEL -->

    <!-- CARROUSEL MULTIPLE -->
    <section class="container content container-carrouselmulti">
        <h3 class="title-sections">Lo Más Valorado</h3>
        <app-valuateditems></app-valuateditems>
    </section>

    <!-- END CARROUSEL MULTIPLE -->

    <!-- CATEGORIES -->
    <section id="maincat" class="container content">
        <h3 class="title-sections">Categorias</h3>
        <app-maincategories></app-maincategories>
    </section>
   <!-- END CATEGORIES -->

     <!-- MARCAS -->
      <section id="about" class="container content">
        <h3 class="title-sections">Sobre ShoppingPocket</h3>
        <app-markets></app-markets>
      </section>
     <!-- END MARCAS -->

      <!-- MARCAS -->
      <section id="brands" class="container content">
          <h3 class="title-sections">Marcas que trabajamos</h3>
          <app-brands></app-brands>
      </section>
       <!-- END MARCAS -->
  </section>

