<footer class="footer text-white">
        <div class="container-fluid">
            <div class="pt-5 pr-5 pl-5 row">
                <div class="col-md-3">
                    <h5 class="pb-3">Información</h5>
                    <ul class="pt-2 list-unstyled text-md-left">
                        <li><a href="#">Novedades</a></li>
                        <li><a href="#">Política de Privacidad</a></li>
                        <li><a href="#">Formas de Pago</a></li>
                        <li><a href="#">Modalidades de Envío</a></li>
                        <li><a href="#">Política de Cookies</a></li>
                    </ul>
                </div>
                <div class="col-md-6 infotienda">
                    <h5 class="pb-3">Información de la tienda</h5>
                    <ul class="pt-2 list-unstyled text-md-left">
                        <li><i class="fa fa-info-circle" aria-hidden="true"></i>shoppingpocket.tk - Pol.Industrial Campollano, Avda Madrid 1
                        46001 Valencia (Valencia)</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>Telf. Oficina: 611 808 041</li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i>Email: support@shoppingpocket.tk</li>
                    </ul>
                </div>
                <div class="col-md-3 text-center social">
                        <h5 class="pb-3">Redes Sociales </h5>
                        <ul class="pt-2 list-inline">
                            <li class="list-inline-item nav-item mr-2 ml-2 active">
                                <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item nav-item mr-2 ml-2">
                                <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item nav-item mr-2 ml-2">
                                <a class="nav-link" href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center small align-self-end">©2018 Proyecto Final 2ºDAW - Carlos Axel Castex.</div>
            </div>
        </div>
</footer>