section.content-admin{
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 35%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 50px;

    .logo{
        text-align: center;
    }
}

